* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}
body {
      background-color: rgb(241, 238, 233);
}

.header {
      background-color: blue;
      padding: 20px 10px;
}
  
.ul-header {
      display: flex;
      gap: 25px;
      flex-direction: row;
      justify-content: flex-end;
      list-style-type: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      font-size: 1.1rem;
      color: white;
      margin-top: -30px;
      margin-right: 20px;
  }
  
.reg-btn {
      font-size: 25px;
      font-weight: 800;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 20px 0;
      text-align: center;
      color: blue
}
form {
      background-color: rgb(255, 255, 255);
      border-radius: 4px;
      padding: 1.3rem 1.3rem;
      margin-top: 2rem;
      margin-bottom: 3rem;
      margin-left: 19rem;
      margin-right: 16rem;
      color: rgb(15, 15, 75);
      display: flex;
      gap: 0.4rem;
      flex-direction: column;
}

form label {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: 600;
      background-color: rgb(255, 255, 255);
}

form input {
      padding: 0.4rem 0;
      background-color: rgb(241, 235, 235);
      border: none;
      border-radius: 5px;
      padding-left: 5px;
}
::placeholder {
      padding-left: 6px;
}
#upload {
      width: 6rem;
      height: 5rem;
      padding: 3px 3px;
      border: 1px solid black;
}

.program-sec {
      font-size: 20px;
      font-weight: 800;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin: 20px 0;
      text-align: center;
      background-color: white;
}

#selectprogram {
      padding: 10px 0px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 17px;
}

#selectmethod {
      padding: 10px 0px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 17px;
}


.payment-sec {
      font-size: 20px;
      font-weight: 800;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin: 20px 0;
      text-align: center;
      background-color: white;
}

ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
}

.the-acc {
      font-size: 18px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: rgb(15, 15, 75);
}

.acc-info {
      font-weight: 800;
}

#submit {
      display: inline-block;
      font-size: 23px;
      font-weight: 800;
      color: rgb(255, 255, 255);
      background-color: blue;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 950px) {

form {
            margin-top: 3rem;
            margin-left: 10rem;
            margin-right: 16rem;
            display: flex;
            flex-direction: column;
      }
      
}

@media screen and (max-width: 840px) {

      form {
                  margin-top: 3rem;
                  margin-left: 10rem;
                  margin-right: 7rem;
                  display: flex;
                  flex-direction: column;
            }
            
      }

      @media screen and (max-width: 730px) {

            form {
                        margin-top: 3rem;
                        margin-left: 4rem;
                        margin-right: 6rem;
                        display: flex;
                        flex-direction: column;
                  }
                  
            }

            @media screen and (max-width: 500px) {

                  form {
                              margin-top: 3rem;
                              margin-left: 0.3rem;
                              margin-right: 0.3rem;
                              display: flex;
                              flex-direction: column;
                        }
                        
                  }